/* Changes underlined hyperlink style. */
a {
    &:hover {
        text-decoration-style: dotted !important;
        /* Uses Boostrap variables */
        text-decoration-color: var(--bs-dark-bg-subtle) !important;
        text-decoration-thickness: calc(var(--bs-border-width) * 3) !important;
    }

    &.rounded-pill{
        transition: box-shadow .5s;
        box-shadow: var(--bs-box-shadow-sm);
        &:hover{
            background: var(--bs-dark-bg-subtle)!important;
            box-shadow:var(--bs-box-shadow-lg);
        }
    }
}

.card, .list-group{
    transition: box-shadow .5s!important;
    &:hover{
        box-shadow:var(--bs-box-shadow-lg)!important;
    }
}